*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
main{
    background-color: bisque;
    width: 100%;
    height: 620px;
}
.title-container{
    border: 1px solid black;
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.title-container__icon{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Wikipedia_wordmark.svg/1280px-Wikipedia_wordmark.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 176px;
    height: 32px;
}
.title-container__slogan{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}
.title-container__img{
    width: 200px;
    position: absolute;
    bottom: -285px;
}
.main-container{
    min-width: 485px;
    max-width: 580px;
    height: 340px;
    margin: 0px auto;
}
.boxes-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.boxes-container__box{
    border: 1px solid black;
    height: 65px;
    display: flex;
    align-items: center;
}
.boxes-container__box--center{
    justify-content: center;
}
.boxes-container__box--left{
    padding-left: 50px;
}
.boxes-container__box--right{
    justify-content: end;
    padding-right: 50px;
}
.boxes-container__box--end{
    justify-content: end;
}
.search-container{
    background-color: red;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-container__input{
    width: 395px;
    height: 44px;
    border: 1px solid black;
}
.search-container__input input{
    width: 95%;
    height: 40px;
    margin: 0.5px auto;
}
.search-container__lang{
    width: 42px;
    height: 42px;
}
.search-container__icon{
    width: 40px;
    height: 40px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;    
}
.lang-container{
    background-color: blue;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lang-container button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.lang-container__lang-icon{
    background-image: url("https://symbols.getvecta.com/stencil_4/51_google-cloud-translation.b123b7120f.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;    
    width: 25px;
    height: 25px;
    /* padding: 0 2px; */
    margin: 5px 10px;
}
.lang-container__text{
    font-size: 1.4rem;
    padding: 0 5px;
}
.lang-container__arrow-icon{
    background-image: url("https://cdn3.iconfinder.com/data/icons/arrows-149/512/directional-chevron-down-512.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;    
    width: 25px;
    height: 25px;
    /* padding: 0 2px; */
    margin: 5px 10px;
}
footer{
    width: 100%;
    height: 500px;
}
.top-container{
    width: 100%;
    height: 450px;
    display: flex;
}
.left-container{
    width: 32%;
    height: 450px;

}
.foundation-container{
    width: 100%;
    height: 40%;
    padding: 0 50px;
}
.downloads-container{
    width: 100%;
    height: 60%;
    padding-left: 50px;
}
.foundation-container__icon{

}
.foundation-icon{
    width: 30px;
    height: 30px;
}
.foundation-container__text{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
    font-size: 1.3rem;
}
.foundation-container__link{
    text-decoration: none;
}
.foundation-container__paragraph{
    font-size: inherit;
    color:  #54595d;
}
.downloads-container__text{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
    font-size: 1.3rem;
}
.downloads-container__title{
    font-size: 1.4rem;
    color: #54595d;
}
.downloads-container__paragraph{
    font-size: inherit;
    color:  #54595d;
}
.downloads-container__text img{
    width: 30px;
    height: 30px;
}
.downloads-container__stores-icons{
    margin: 0 auto;
}
.downloads-container__stores-icons .google-play{
    width: 124px;
    height: 38px;
}
.downloads-container__stores-icons .app-store{
    width: 110px;
    height: 38px;
}
.right-container{
    background-color: goldenrod;
    width: 68%;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.bottom-box{
    border: 1px solid black;
    display: flex;
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
}
.bottom-box__icon{
    width: 30%;
    border: 1px solid black;
}
.bottom-box__icon img{
    width: 40%;
}
.bottom-box__text{
    width: 70%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bottom-box__title{
    font-size: 1.4rem;
    color: #36c;
}
.bottom-box__paragraph{
    font-size: 1.3rem;
    color: #54595d
}
.bottom-container{
    width: 100%;
    border: 1px solid black;
    height: auto;
}