:root{
    --primary-color:#36c;
    --secondary-color: #54595d;
    --primary-size: 1.6rem;
    --secondary-size: 1.4rem;
    --font: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
main{
    width: 100%;
    height: 620px;
}
.title-container{
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.title-container__icon{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Wikipedia_wordmark.svg/1280px-Wikipedia_wordmark.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 176px;
    height: 32px;
}
.title-container__slogan{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}
.title-container__img{
    width: 200px;
    position: absolute;
    bottom: -255px;
}
.main-container{
    min-width: 485px;
    max-width: 525px;
    height: 340px;
    margin: 0px auto;
}
.boxes-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.boxes-container__box{
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boxes-container__box a{
    text-decoration: none;
}
.boxes-container__box a:hover{
    background-color:#eaecf0;
    text-decoration: none;
}
.boxes-container__box strong{

    font-size: var(--primary-size);
    font-family: var(--font);
    color: var(--primary-color);
    display: block;
}
.boxes-container__box small{
    font-size: var(--secondary-size);
    font-family: var(--font);
    color: var(--secondary-color);
    display: inline-block;
}
.boxes-container__box--left_center{
    align-items: flex-start;
    padding-left: 35px;
}
.boxes-container__box--left{
    padding-right: 85px;
}
.boxes-container__box--left-1{
    padding-right: 50px;
}
.boxes-container__box--right-1{
    padding-left: 50px;
}
.boxes-container__box--right{
    padding-left: 85px;
}
.boxes-container__box--right-center{
    align-items: flex-end;
    padding-right: 35px;
}
.search-container{
    border: 1px solid black;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-container__input{
    width: 395px;
    height: 44px;
    border: 1px solid #a2a9b1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-right: none;
    position: relative;
}
.search-container__input:hover{
    border-color: #54595d;
}
.search-container__input input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 50px;
    font-size: 1.4rem;
}
.search-container__input input:focus{
    border-color: var(--primary-color);
    box-shadow: inset 0 0 0 1px #36c;
    outline: 0;
}
.search-container__lang{
    position: absolute;
    right: 5px;
    top: 10px;
}
.search-container__lang select{
    border: none;
    font-family: var(--font);
    color: var(--secondary-color);
}
.search-container__icon{
    width: 56px;
    height: 44px;
    background-image: url("https://e6.pngbyte.com/pngpicture/78146/png-searchpng-Search-Icon-Svg-White_thumbnail.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;  
    background-color: var(--primary-color);  
    border: 1px solid var(--primary-color);
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.search-container__icon{
    cursor: pointer;
}
.lang-container{
    border: 1px solid black;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lang-container button{
    width: 267px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lang-container__lang-icon{
    background-image: url("https://symbols.getvecta.com/stencil_4/51_google-cloud-translation.b123b7120f.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;    
    width: 22px;
    height: 22px;
}
.lang-container__text{
    font-size: 1.4rem;
    font-family: var(--font);
    color: var(--primary-color);
    padding: 7px 7px;
}
.lang-container__arrow-icon{
    background-image: url("https://profitlevel.com/assets/images/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;    
    width: 14px;
    height: 14px;
}
footer{
    width: 100%;
    height: 500px;
}
.top-container{
    width: 100%;
    height: 450px;
    display: flex;
}
.left-container{
    width: 35%;
    height: 450px;

}
.foundation-container{
    width: 60%;
    height: 46%;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
}
.downloads-container{
    width: 60%;
    height: 54%;
    margin: 0 auto;
}
.foundation-container__icon{

}
.foundation-icon{
    width: 42px;
    height: 42px;
}
.foundation-container__text{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
    font-size: 1.3rem;
}
.foundation-container__link{
    text-decoration: none;
    padding-left: 10px;
    display: inline-block;
    color: var(--primary-color);
}
.foundation-container__paragraph{
    font-size: inherit;
    color:  #54595d;
    padding-left: 10px;
}
.downloads-container__text{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
    font-size: 1.3rem;
}
.downloads-container__title{
    display: flex;
}
.downloads-container__title h1{
    font-size: 1.4rem;
    color: #54595d;
    height: 42px;
    padding-left: 10px;
    padding-top: 5px;
}
.downloads-container__paragraph p{
    font-size: inherit;
    color:  #54595d;
    margin-left: 50px;
}
.downloads-container__text img{
    width: 42px;
    height: 42px;
}
.downloads-container__stores-icons{
    margin-top: 10px;
    margin-left: 50px;
}
.downloads-container__stores-icons .google-play{
    width: 124px;
    height: 38px;
}
.downloads-container__stores-icons .app-store{
    width: 110px;
    height: 38px;
}
.right-container{
    width: 65%;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.bottom-box{
    display: flex;
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
    margin: 10px 0px;
}
.bottom-box:hover{
    background-color: #eaecf0;
}
.bottom-box__icon{
    width: 20%;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.bottom-box__icon img{
    width: 42px;
}
.bottom-box__text{
    width: 80%;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bottom-box__title{
    font-size: 1.4rem;
    color: #36c;
}
.bottom-box__paragraph{
    font-size: 1.3rem;
    color: #54595d
}
.bottom-container{
    width: 100%;
    border: 1px solid black;
    height: auto;
}